body{

    margin: 0;
    background-color: #fff;
    color:#1c1e21;
    text-decoration: none;
    
    
    
    
}
.page{
width: 100%;
height: 720px;
background:#e8ebeda3;

}
.body-left{
    padding-left: 241px;
    padding-top: 154px;
    width: 530px;
    height: 500px;
    float: left;
    
}
#faceimg{
    background-color: transparent;
    width: 303px;
    height: 153px;

 
}
#facepara{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 30px;
    width: 500px;
    margin-top: -35px;
    margin-left: 27px;
}
.body-right{
    
    padding-top: 127px;

    
    
    
    
}
#form{
    
    background-color: #fff;
    height: 364px;
    width: 396px;
    margin-left: 855px;
    border-radius: 9px;
    padding-left: 9px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    color: rgb(100 97 97);
    
}
    



.component{

    width: 355px;
    height: 46px;
    border-radius: 5px;
    margin-top: 16px;
    padding-left: 20px;
    font-size: 16px;
    border: 1px solid rgb(214 215 215);
    color: rgb(95, 92, 92);
    
    

    


}
.component:focus{
    border-color:3px solid cadetblue;
}
.button{
    width: 379px;
    height: 51px;
    background-color: rgb(70, 126, 239);
    border-radius: 6px;
    margin-top: 16px;
    font-size: 19px;
    color: #fff;
    border: none;
    cursor: pointer;

}
a{
    text-decoration: none;
    color: blue;
    margin-left: 119px;
    border-top: 20px;

}
#aa{
    margin-top: 20px;
}
hr{

    width: 368px;
    margin-left: 1px;
    

}
#button2{
    width: 200px;
    height: 48px;
    background-color: #42b72a;
    border-radius: 6px;
    margin-top: 24px;
    margin-left: 93px;
    color: #fff;
    font-size: medium;
    border: none;
    cursor: pointer;
}
#right-body-para{
    margin-left: 891px;
    padding-top: 15px;
    font-size: 16px;
}
.footer{
    width: 100%;
    height: 340px;
    row-gap: 2px;
    


}
table{
    margin-top: 100px;
}
