.calculator-body{

    width: 369px;
    height: 456px;
    background-color: gray;
    margin-left: 413px;

}
#display{
    height: 35px;
    width: 271px;
    margin-left: 44px;
    margin-top: 30px;
    pointer-events: none;

}
.row{
    margin-left: 36px;
    margin-top: 28px;
}
.btn{
    width: 70px;
    height: 45px;
}
